h1 {
  color: #4B4B4D;
  font-size: 60px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  margin-top: 40px;
}

h2 {
  color: #4B4B4D;
  font-size: 40px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
  padding: bottom;
  margin-bottom: 40px;
}

p, label, input {
  color: #4B4B4D;
  font-size: 28px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

#printZodiac {
  color: #4B4B4D;
  font-size: 88px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

.note {
  color: #4B4B4D;
  font-size: 16px;
  font-family: "Raleway", "Helvetica Neue", Helvetica, Arial, sans-serif;
  text-align: center;
}

/* Images courtesy of Angelus, Creative Commons Attribution-Share Alike 3.0 Unported

see e.g. https://commons.wikimedia.org/wiki/File:Monkey_2.svg */

/* Facebook share image courtesy of   Jakub Hałun, Creative Commons Attribution-Share Alike 4.0 International

https://en.wikipedia.org/wiki/File:20100720_Fukuoka_Kushida_3614_M.jpg */

/* Background pattern from subtlepatterns.com */

body {
    background-image: url("contemporary_china_2.png");
}